/* Colors */
$white: #fff;
$black: #000;
$light-gray: rgba($black, 0.31);
$mid-gray: rgba($black, 0.49);
$dark-gray: rgba($black, 0.53);
$main-theme-color: #D6A94A;
$error-color: #D0021B;

/* Dimensions */

/* Breakpoints */
$x-small: calculate-rem(320px);
$small: calculate-rem(510px);
$medium: calculate-rem(670px);
$large: calculate-rem(900px);
$x-large: calculate-rem(1140px);
