<div class="row">
{% for box in include.boxes %}
	<div class="column large-4 medium-6 small-12">
		<div class="box">
			<h2 class="box__title">{{ box.title }}</h2>
			<a href="{{ box.link }}">
				<img src="{{ box.image }}" alt="{% include image-alt.html alt=box.image-alt file-path=box.image %}" class="box__image">
			</a>
			<p class="box__text">{{ box.desc }}</p>
			{% if box.link %}
				<a href="{{ box.link }}" class="arrow-link">Find out more<i class="fa fa-chevron-right" aria-hidden="true"></i></a>
			{% endif %}
		</div>
	</div>
{% endfor %}
</div>
