<a href="javascript:void(0)" class="btn btn--light js-btn-contact">Contact us</a>
<div class="modal">
	<form action="https://formsapi.jabwn.com/key/CpOnIUVfdcgJM0wv7fdQ" class="contact-form" method="post">
		<h2 class="contact-form__title">Get in touch</h2>
		
		<div class="input-field">
			<input class="input-field__text input-field__text--required" type="text" name="name" />
			<label class="input-field__label input-field__label--text-entry" for="name">Name</label>
		</div>
		
		<div class="input-field">
			<input class="input-field__text input-field__text--required" type="text" name="email" />
			<label class="input-field__label input-field__label--text-entry" for="email">Email</label>
		</div>
		
		<div class="input-field">
			<input class="input-field__text input-field__date" type="text" name="date" />
			<label class="input-field__label input-field__label--text-entry " for="date">Event Date</label>
		</div>
		
		<div class="input-field">
			<input class="input-field__text input-field__time" type="text" name="start" />
			<label class="input-field__label input-field__label--text-entry" for="start">Event start time</label>
		</div>
		
		<div class="input-field">
			<input class="input-field__text input-field__time" type="text" name="finish" />
			<label class="input-field__label input-field__label--text-entry" for="finish">Event finish time</label>
		</div>
		
		<div class="input-field">
			<label class="input-field__label" for="type">Event type:</label>
		    <div class="input-field__select-container">
					<select class="input-field__select" name="type">
						<option value="Wedding">Wedding</option>
						<option value="Party">Party</option>
						<option value="Corporate">Corporate</option>
						<option value="Grad ball/prom">Grad ball/prom</option>
						<option value="Location hire">Location hire</option>
						<option value="Charity">Charity</option>
						<option value="Other">Other</option>
					</select>
				</div>
		</div>
		
		<div class="input-field">
			<input class="input-field__text" type="text" name="location" />
			<label class="input-field__label input-field__label--text-entry" for="location">Event Location</label>
		</div>
		
		<div class="input-field">
			<textarea class="input-field__text input-field__text--required input-field__text--textarea" name="message"></textarea>
			<label class="input-field__label input-field__label--text-entry" for="message">Message</label>
		</div>
		
		<div class="input-field">
			<label class="input-field__label" for="hearAbout">Where did you hear about us?</label>
		    <div class="input-field__select-container">
					<select class="input-field__select" name="hearAbout">
						<option value="Google">Google</option>
						<option value="Hitched">Hitched</option>
						<option value="Mr &amp; Mrs Unique">Mr &amp; Mrs Unique</option>
						<option value="Love Sussex Weddings">Love Sussex Weddings</option>
						<option value="Flyer">Flyer</option>
						<option value="Other">Other</option>
					</select>
				</div>
		</div>
		
		<button class="btn btn--light btn--full-width js-btn-send" type="submit">Send</button>
		
		<p class="contact-form__status"></p>
		
		<div class="modal__close">&times;</div>
	</form>
</div>
	