<div class="medium-4 small-12">
	<nav class="{{ include.nav-classes }}">
		<ul class="list-nav__list">
		{% assign pages = include.links %}
		{% for page in pages %}
		  {% if page.children %}
		    <li class="nav__item nav__item--has-sub list-nav__item">
		      <a href="{{ page.url }}" class="nav__link nav__link--has-sub list-nav__link">{{ page.title }}</a>
		      <ul class="sub-nav sub-nav--static">
		      {% for subpage in page.children %}
		        <li class="nav__item sub-nav__item">
		          <a class="nav__link sub-nav__link" href="{{ subpage.url }}">{{ subpage.title }}</a>
		        </li>
		      {% endfor %}
		      </ul>	
		    </li>        
		  {% else %}
		    <li class="nav__item list-nav__item">
		      <a href="{{ page.url }}" class="nav__link list-nav__link">{{ page.title }}</a>
		    </li>
		  {% endif %}
		{% endfor %}
		</ul>
	</nav>
</div>