<div class="primary-nav__section align-spaced">
{% assign pages = include.links %}
{% for page in pages %}
  {% if page.children %}
    <li class="nav__item nav__item--has-sub primary-nav__item">
      <a href="{{ page.url }}" class="nav__link nav__link--has-sub primary-nav__link">{{ page.title }}</a>
      <ul class="sub-nav">
      {% for subpage in page.children %}
        <li class="nav__item sub-nav__item">
          <a class="nav__link sub-nav__link" href="{{ subpage.url }}">{{ subpage.title }}</a>
        </li>
      {% endfor %}
      </ul>	
    </li>        
  {% else %}
    <li class="nav__item primary-nav__item">
      <a href="{{ page.url }}" class="nav__link primary-nav__link">{{ page.title }}</a>
    </li>
  {% endif %}
{% endfor %}
</div>