<div class="row">
	{% for service in include.services %}
	<div class="column medium-4 small-12">
		<div class="service">
			<h3 class="service__title">{{ service.title }}</h3>
			{% if service.is-from %}
			<span class="service__title">From</span>
			{% endif %}
			{% if service.is-currency %}
			<span class="service__price service__price--currency">£</span>
			{% endif %}
			<span class="service__price">{{ service.price }}</span>
			{% if service.is-airstream-only %}
			<span class="service__disclaimer">(Airstream only)</span>
			{% endif %}
		</div>
	</div>
	{% endfor %}
</div>
