.the-team-grid {  
  display: grid;
  grid-row-gap: calculate-rem(72px);
  @media (max-width: $medium) {
    grid-row-gap: calculate-rem(32px);
  }
}

.the-team-grid__row {  
  display: grid;
  grid-template-columns: repeat(2, 41.67%);
  justify-content: center;
  grid-column-gap: calculate-rem(36px);
  @media (max-width: $medium) {
    grid-template-columns: repeat(1, 1fr);
    &:nth-child(1) .the-team-grid__item:nth-child(2) {
      grid-row: 1;
    }
  }
}

.the-team-grid__item {
  @extend .flex;
  @extend .flex--center;
}

.services-grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  @media (max-width: $large) {
    grid-template-columns: repeat(2, 1fr);
  }
  @media (max-width: $medium) {
    grid-template-columns: repeat(1, 1fr);
  }
}

.contact-form-grid {
  display: grid;
  $grid-template-columns: "repeat(2, [col-start] 1fr)";
  grid-template-columns: #{$grid-template-columns};
  grid-gap: calculate-rem(64px) calculate-rem(36px);
  @extend %spacer;
  @media (max-width: $small) {
    grid-gap: calculate-rem(24px);
    .contact-form-grid__item {
      grid-column: col-start / span 2;
    }
  }
}

.contact-form-grid__full {
  grid-column: col-start / span 2;
}