.primary-nav__link {
	color: $mid-gray;
	font-family: 'Raleway', sans-serif;
	text-decoration: none;
	&:hover {
		color: $main-theme-color;
	}
	@include font-size(16px)
	@media (max-width: $small) {
		@include font-size(15px);
	}
}