.btn {
	color: $main-theme-color;
	border: 3px solid $main-theme-color;
	@include font-size(24px);
	text-align: center;
	display: block;
	padding: 0.667em 2.083em;
	max-width: calculate-rem(164px);
	cursor: pointer;
	margin: 0 auto;
}