.card {
	padding: calculate-rem(16px) calculate-rem(52px) 0 calculate-rem(24px);
	min-height: calculate-rem(274px);
}

.card--bg-image {
	background-size: cover;
	position: relative;
	&:before {
		content: '';
		position: absolute;
		top: 0;
		right: 0;
		bottom: 0;
		left: 0;
	  background: linear-gradient($mid-gray, rgba(0, 0, 0, 0));
	}
}

.card__content {
	position: relative;
}

.card__title {
	color: $white;
	margin: 0 0 calculate-rem(8px);
	@include font-size(28px);
}

.card__text {
	color: $white;
	margin: 0;
}