// image scales -> width = 90vw -> calculate height to retain aspect ratio
// height needed due to absolute positioned children
$image-width: 1440px
$image-height: 689px
$cross-fader-width: 90vw
$cross-fader-height: $image-height / $image-width * $cross-fader-width

.cross-fader
  max-height: $image-height
  height: $cross-fader-height

.cross-fader__image
  max-width: 100%

.cross-fader__video
  max-width: 100%
  max-height: $image-height
  height: $cross-fader-height

.cross-fader__badge
  position: absolute
  top: 10px
  right: 10px
  z-index: 999
  width: calc(10% + 16px)
