.input-field__text-input {
  border: none;
  border-bottom: 1px solid $mid-gray;
  outline: none;
  height: 2rem;
  width: 100%;
  font-family: 'Open sans', sans-serif;
}

.input-field--active {
  .input-field__text-input {
    border-color: $main-theme-color;
    color: $main-theme-color;
  }
  .input-field__label {
    color: $main-theme-color;
    transform: translateY(-10px);
    transform-origin: 0 0;
    @include font-size(12px);
  }
}

textarea.input-field__text-input {
	min-height: 5rem;
  resize: none;
}

.input-field__label {
	color: $mid-gray;
	@include font-size(15px);
  transition: all .2s ease-out;
  display: inline-block;
}

.input-field__error {
  color: $error-color;
  @include font-size(12px);
}


