---
layout: page
body-classes: 'the-airstream contact'
---

<section class="section">
	<div class="image-slider">
		<div class="image-slider__scroll">
			{% for image-obj in page.image-slider %}
			<div class="image-slider__image-wrapper">
				<img src="{{ image-obj.image }}" alt="{% include image-alt.html alt=image-obj.image-alt file-path=image-obj.image %}" class="image-slider__image">
			</div>
			{% endfor %}
		</div>
		<div class="image-slider__left-control">
			<i class="fa fa-chevron-left" aria-hidden="true"></i>
		</div>
		<div class="image-slider__right-control">
			<i class="fa fa-chevron-right" aria-hidden="true"></i>
		</div>
	</div>
</section>

<section class="section">
	<h1 class="title title--underline">{{ page.heading }}</h1>
	<div class="text-wrapper">
		<p>{{ page.desc }}</p>
	</div>
	{% include contact-btn.html %}
</section>