---
layout: default
---

<section class="primary-section">
	<div class="wrapper">
		<form class="js-contact-form" action="https://getsimpleform.com/messages/ajax?form_api_token=f7958776dede774aa4cc6c17db2844f5" method="post">
			<div class="contact-form-grid">
				<div class="input-field contact-form-grid__item">
			  	<label class="input-field__label" for="name">Name *</label>
					<input class="input-field__text-input js-text-input js-required-input" type="text" name="name" />
			  </div>
				<div class="input-field contact-form-grid__item">
			  	<label class="input-field__label" for="email">Email address *</label>
					<input class="input-field__text-input js-text-input js-required-input" type="text" name="email" />
			  </div>
				<div class="input-field contact-form-grid__item contact-form-grid__full">
			  	<label class="input-field__label" for="message">Message *</label>
					<textarea class="input-field__text-input js-text-input js-required-input" name="message"></textarea>
			  </div>
			</div>
		  
			<a class="btn js-send-btn" type="submit">SEND</a>
		</form>
	</div>
</section>