---
layout: page
---
<section class="section">
	<h1 class="title title--underline">Contact</h1> Contact
	<div class="text-wrapper">
		<p>{{ page.desc }}</p>
		<p class="copy-link">{{ site.email }}</p> 
	</div>
</section>

<section class="section section--padding-l">
	<div class="row align-middle">
		{% for badge in page.badges %}
		<div class="column large-expand medium-6 small-12">
			<a href="{{ badge.link }}" target="_blank" rel="noopener">
				<img src="{{ badge.image }}" alt="{% include image-alt.html alt=badge.alt %}" class="badge">
			</a>
		</div>
		{% endfor %}
	</div>
</section>

