---
layout: default
---

<section class="primary-section">
	<div class="wrapper">
		<form class="js-contact-form" action="https://getsimpleform.com/messages?form_api_token=f7958776dede774aa4cc6c17db2844f5" method="post">
		  <div class="input-field">
		  	<input class="input-field__input" type="text" name="name" />
				<label class="input-field__label" for="name">Name *</label>
		  </div>
			<div class="input-field">
		  	<input class="input-field__input" type="text" name="email" />
				<label class="input-field__label" for="email">Email address *</label>
		  </div>
			<div class="input-field">
		  	<textarea class="input-field__input" name="message" />
				<label class="input-field__label" for="message">Message *</label>
		  </div>
			
			<a class="btn js-submit-btn">SEND</a>
		</form>
	</div>
</section>