<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
        <title>{{ page.page-title }}</title>
        <meta name="viewport" content="width=device-width">
        
        <link rel="stylesheet" href="main.css">
    </head>
    <body>
      <header class="primary-header">
        <h1 class="logo">{{ site.title }}</h1>
        {% include nav.html nav-class="primary-nav" link-class="primary-nav__link primary-nav__link--margin"  %}
      </header>
      {{ content }}
      <footer class="primary-footer">
        <div class="flex flex--space-between">
          <a class="contact-detail" href="mailto:{{ site.contact.email }}">{{ site.contact.email }}</a>
          <a class="contact-detail" href="tel:{{ site.contact.tel }}">{{ site.contact.tel }}</a>
        </div>
        {% include nav.html nav-class="primary-nav flex flex--space-between" link-class="primary-nav__link" %}
        <div class="flex flex--center">
          <a class="social-icon" href="twitter" target="_blank" rel="noopener">{% include social-icons/twitter.svg %}</a>
          <a class="social-icon" href="fb" target="_blank" rel="noopener">{% include social-icons/facebook.svg %}</a>
          <a class="social-icon" href="instagram" target="_blank" rel="noopener">{% include social-icons/instagram.svg %}</a> 
        </div>
      </footer>
      <script src="main.js"></script>
    </body>
</html>
