---
layout: page
bodyClasses: index
---

{% assign bodyClasses = 'index' %}
<section class="section">
	<a href="https://www.hitched.co.uk/awards/best-non-musical-wedding-entertainment-2018/" rel="noopener" target="_blank">
		<img class="cross-fader__badge" src="/images/tatler.png"/>
	</a>
	<div class="cross-fader">
		{% for image-obj in page.image-slider %}
			<div class="cross-fader__item">
				<img src="{{ image-obj.image }}" alt="{% include image-alt.html alt=image-obj.image-alt file-path=image-obj.image %}" class="cross-fader__image">
			</div>
		{% endfor %}
	</div>
</section>

<section class="section">
	<div class="row">
		{% include 3-col-boxes.html boxes=page.aspects %}
	</div>
</section>