---
layout: default
---

<section class="primary-section">
	<div class="slider js-slider-singles">
		{% for image-obj in page.slider-images %}
			<img class="slider__image" src="{{ image-obj.image }}" alt="{{ image-obj.alt }}">
		{% endfor %}
	</div>
</section>
	
<section class="primary-section">
	<div class="wrapper">
		<p class="mission-statement">{{ page.mission-statement }}</p>
	</div>
</section>

<section class="primary-section">
	<div class="wrapper">
		<h2 class="title">{{ page.the-team.title }}</h2>
		<div class="the-team-grid">
			<div class="the-team-grid__row">
				<div class="the-team-grid__item">
					<p>{{ page.the-team.team-member-1.text-box }}</p>
				</div>
				<div class="the-team-grid__item">
					<image class="profile-image" src="{{ page.the-team.team-member-1.image }}">
				</div>
			</div>
			<div class="the-team-grid__row">
				<div class="the-team-grid__item">
					<image src="{{ page.the-team.team-member-2.image }}" class="profile-image">
				</div>
				<div class="the-team-grid__item">
					<p>{{ page.the-team.team-member-2.text-box }}</p>
				</div>
			</div>
		</div>
	</div>
</section>

