---
layout: page
bodyClasses: index
---

{% assign bodyClasses = 'index' %}
<section class="section">
	<div class="cross-fader__badge-header">
		<a href="https://www.hitched.co.uk/wedding-planning/organising-and-planning/uk-wedding-awards-2020/" rel="noopener" target="_blank">
			<img class="cross-fader__badge" src="/images/UKWA2020-winner-badge.png"/>
		</a>
	</div>
	<div class="cross-fader">
		{% for image-obj in page.image-slider %}
			<div class="cross-fader__item">
				<img src="{{ image-obj.image }}" alt="{% include image-alt.html alt=image-obj.image-alt file-path=image-obj.image %}" class="cross-fader__image">
			</div>
		{% endfor %}
	</div>
</section>

{% if page.testimonials %}
<section class="section">
	<div class="row align-middle">
		{% for testimonial in page.testimonials %}
			<div class="column large-4 medium-6 small-12">
				<div class="box">
					<p>"{{ testimonial.quote }}"</p>
					<p class="box__title">-{{ testimonial.name }}</p>
				</div>
			</div>
		{% endfor %}
	</div>
</section>
{% endif %}

<section class="section">
	{% include 3-col-boxes.html boxes=page.aspects %}
</section>