*, *::before, *::after {
	box-sizing: border-box;
}	
	
body {
	color: $mid-gray;
	font-family: 'Open sans', sans-serif;
	margin: 0;
}
  
h1, h2, h3, h4, h5, h6 {
	font-family: 'Raleway', sans-serif;
	color: $main-theme-color;
}

h2 {
	@include font-size(42px)
	margin: calculate-rem(32px) 0;
	@media (max-width: $small) {
		@include font-size(36px);
	}
}
	
p {
	font-weight: lighter;
	line-height: 1.5em;
	@include font-size(16px)
	@media (max-width: $small) {
		@include font-size(15px);
	}
}
	
ul {
	margin: 0;
  padding: 0;
}

svg {
	path {
		fill: $main-theme-color;
		transition: fill .2s;
	}
	&:hover {
		path {
			fill: darken($main-theme-color, 10%);
		}
	}
}